* {
    margin: 0;
    padding: 0;
}


#container {    
    display: grid;
    grid-template-columns: repeat(60, 1fr);        
    grid-gap: 1px;
    width: 800px;
    height: 800px;
}

#container div {
    background-color: darksalmon;   
    cursor: pointer; 
}

#container .alive {
    background-color: brown;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 27px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
  }

  .off {
    background-color: #f44336;;
  }