#container {
    display: grid;
    grid-template-columns: repeat(60, 1fr);        
    grid-gap: 2px;
}

#container div {
    background-color: darksalmon;
    min-height: 20px;
}

#container .alive {
    background-color: brown;
}